body{
    background-image: url("img/ek.jpg");
    display: flex;
    flex-direction: column;
}

h1{
    color: lightcoral;
    background-color: lightblue;
    text-align: center;
}

h2{
    color: lightgreen;
    background-color: purple;
    text-align: left;
}

ul{
    color:black;
}

p{
    color: black;
    background-color: white; 
}

div{
    flex-direction: row;
}

a{
    color: white;
    background-color: black; 
}